<footer class="footer">
  <nav>
    <ul>
      <li><a href="mailto:startupsinphilly@gmail.com" style="text-decoration:none;">*Add your Startup</a></li>
      <li><a href="https://github.com/danho/StartupsInPhilly" target="_blank" style="text-decoration:none;">*Github</a></li>
    </ul>
  </nav>
</footer>
