<footer class="footer">
  <nav>
    <ul>
      <li><a href="#">*Add your Startup</a></li>
      <li><a href="https://github.com/Danny--/StartupsInPhilly" target="_blank">*Github</a></li>
    </ul>
  </nav>
</footer>
